{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block page %}{{title}}{% endblock %}
{% block heading %}
  {{ super() }}
{% endblock %}
{% block content %}
  {% if failedServers %}
  <h3> The following URL's failed to load!</h3>
  <ul class="list-unstyled" id = "failedServers">
    {% for server in failedServers %}
    <li>{{server}}</li>
    {% endfor %}
  {% endif %}
  </ul>
  {% if errorConditions %}
  <h3>Errors Reported: </h3>
  <ul class="list-unstyled" id = "errorConditions">
      {% for keys,values in errorConditions.items() %}
      <li>{{keys}}-->{{values}}</li>
      {% endfor %}
  {% endif %}
  <br>
  <br>
  <!-- <p>Same list with a filter: {{ my_list|join(', ') }}</p> -->
  {% block footer %}
  {{super()}}
  {% endblock %}
{% endblock %}