{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block page %}{{title}}{% endblock %}
{% block heading %}
  {{ super() }}
{% endblock %}
{% block content %}
 <h3>Failed Server List</h3>
  <table class="table table-striped sortable">
      <tr>
          <th>Server IP</th>
      </tr>
  {% for server in failedServers %}
  <tr>
      <td><img style="margin: 0px 50px 0px 0px", src="{{ url_for('static', filename='Images/reddot.png') }}">{{server}}</td>
  </tr>
  {%endfor%}
  </table>
  <h3>Responding Server List</h3>
  <table class="table table-striped sortable">
      <tr>
          <th>Server IP</th>
          <th>Server Page</th>
          <th>Server Local URL</th>
          <th>Total Services</th>
          <th>Services Down</th>
      </tr>
  {% for server in respondingServers %}
  <tr>
      <td><img style="margin: 0px 50px 0px 0px", src="{{ url_for('static', filename='Images/greendot.gif') }}">{{server}}</td>
      <td>12</td>
      <td>12</td>
  </tr>
  {%endfor%}
  </table>
  <br>
  <br>
  <br>
  <!-- <p>Same list with a filter: {{ my_list|join(', ') }}</p> -->
  {% block footer %}
  {{super()}}
  {% endblock %}
{% endblock %}